@media only screen and (max-width: 1040px) {
  * {
    font-size: 14px;
  }
  header {
    padding: 0.2em 1em;
  }
  main {
    margin: 1em 3em;
  }
  #table-nav, #takketekst{
    margin: 0.5em 2em;
  }
  .inspiration {
    display: block;
  }
  .contact-info {
    display: block;
  }
  .hjalte, .lancelot {
    width: 100%;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 760px) {
  * {
    font-size: 12px;
  }
  header {
    padding: 0.2em 1em;
  }
  main {
    margin: 1em 3em;
  }
  #table-nav, #takketekst{
    margin: 0.5em 2em;
  }
  .inspiration {
    display: block;
  }
  .contact-info {
    display: block;
  }
  .hjalte, .lancelot {
    width: 100%;
    margin-top: 2em;
  }
}