@media only screen and (max-width: 760px) {
  * {
    font-size: 12px;
  }
  header {
    padding: 0.2em 1em;
  }
  main {
    margin: 1em 3em;
  }
  #table-nav, #takketekst{
    margin: 0.5em 2em;
  }
}