@media only screen and (max-width: 480px) {
  * {
    font-size: 10px;
  }
  header {
    padding: 0.1em 1em;
  }
  main {
    margin: 0.75em 2em;
  }
  #table-nav, #takketekst{
    margin: 0.5em 1em;
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 8px;
  }
  header {
    padding: 0 1em;
  }
  main {
    margin: 0.5em 1em;
  }
  #table-nav, #takketekst {
    margin: 0.5em 0;
  }
}